# ---- 依存関係 ----
node_modules

# ---- ビルド成果物 ----
dist
dist-ssr

# ---- ログ ----
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ---- OS / エディタ ----
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
.vscode/*
!.vscode/extensions.json

# ---- 削除予定の退避フォルダ ----
_to_delete/
